body {
    overflow-x: auto;  
    overflow-y: auto;
    min-width: min-content;
    min-height: min-content;
    margin: auto;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;

  p { 
     padding: 10px 8px 10px 0;
     color: #5b5b5b;
    }

  input{
    width:480px;
    padding:8px 10px;
    border-radius:8px;
    border:1px solid #d0d4da;
    background:white;
    margin-right: 10px;
  }

  button {
    padding:8px 12px;
    border-radius:8px;
    border: none;
    background:#41a741;
    color:white;
    cursor:pointer;
  }
}

#time-elapsed{
  color: rgb(57, 57, 224);
  font-size: 12px;
  padding-bottom: 10px;
  font-style: italic;
}


.calendar {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  border: 1px solid #ccc;
  width: fit-content
}

.row {
  display: grid;
  grid-template-columns: 80px repeat(7, 1fr);
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.header {
  background: #e0e0e0;
}

.time-column {
  border: 1px solid #ccc
}

.time-cell {
  background: #fafafa;
  color: #434242;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.time-cell:last-child {
  border-bottom: none;
}


.header-cell {
    width: 300px;
    border: 1px solid #ccc;
    height: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.day-cell {
  background-color: #fafafa;
  height: calc(48*30px);
  border-right: 1px solid #ccc;
  position: relative;
}

.active-day {
    background-color: #7ac7a3;
}

.event {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #e5d0fd;
    position: absolute;
    top: 0;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid #796590;
    box-sizing: border-box;
}

